# dependencies
/a/example_a/node_modules
/a/2.1-2.5/node_modules
/b/forms/node_modules
/b/2.6-2.10/node_modules
/c/exercise1/node_modules
/c/2.11_2.14/node_modules
/d/exercise1/node_modules
/d/2.15_2.18/node_modules
/e/exercise1/node_modules
/e/2.19-2.20/node_modules